html, body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #bdbdbd;
}
body.your-turn {
  background-color: #b4c5b2;
}

#grid-game {
  padding: 3rem 0;
}

.buttons {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 0;
}

.buttons div {
  padding: 0 0.2rem;
  cursor: pointer;
  color: #333333;
}
.buttons div:hover {
  color: #f32146;
}

.row {
  display: flex;
  justify-content: center;
}

.dot {
  background-color: #6e6e73;
  box-shadow: 0 0 0px 2px #313131;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 2;
}

.block {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  margin: 1px;
  background: #f9f9f9;
}

.block.active {
  background: #bde2ff;
}

.block.r.active {
  background: #ffbde2;
}

.h-line {
  margin: 1px 0;
  height: 8px;
  width: 30px;
}

.v-line {
  margin: 0 1px;
  width: 8px;
  height: 30px;
}

.line {
  cursor: pointer;
  border-radius: 3px;
  transition: background 0.3s, box-shadow 0.3s;
}
.line:hover {
  background-color: #2196f3;
  box-shadow: 0 0 5px 1px #2196f380;
}
.r .line:hover {
  background-color: #f32146;
  box-shadow: 0 0 5px 1px #f3214680;
}
.line.b.active {
  background-color: #2196f3;
  box-shadow: 0 0 5px 1px #2196f380;  
}
.line.r.active {
  background-color: #f32146;
  box-shadow: 0 0 5px 1px #f3214680;
}

.current-player {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem 0 0 0;
}

.current-player.r {
  color: #f32146;
  text-shadow: 0.5px 0.5px #ffffff, -0.5px -0.5px #ffffff;
}

.current-player.b {
  color: #2196f3;
  text-shadow: 0.5px 0.5px #ffffff, -0.5px -0.5px #ffffff;
}

.other-player {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: 600;
  padding: 0;
}

.other-player.r {
  color: #f32146;
  text-shadow: 0.5px 0.5px #ffffff, -0.5px -0.5px #ffffff;
}

.other-player.b {
  color: #2196f3;
  text-shadow: 0.5px 0.5px #ffffff, -0.5px -0.5px #ffffff;
}

